<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserName</key>
	<string>tv</string>
	<key>LimitLoadToHosts</key>
	<array>
		<string>heady.uberzach.com</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>Label</key>
	<string>com.uberzach.projector.off</string>
	<key>KeepAlive</key>
	<dict>
		<key>NetworkState</key>
		<true/>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/tv/bin/video/projector/projectorPower.pl</string>
	</array>
</dict>
</plist>
